<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.receipt.modules.contract.mapper.ContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wch.contract.entity.Contract">
        <id column="id" property="id" />
        <result column="contract_addr" property="contractAddr" />
        <result column="pwd_admin" property="pwdAdmin" />
        <result column="address_admin" property="addressAdmin" />
        <result column="prikey_admin" property="prikeyAdmin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_addr, pwd_admin, address_admin, prikey_admin
    </sql>

</mapper>
